<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
	layout:decorate="~{layout.html}">
<head>
<title th:text="#{admin.role.edit.form.header}"></title>
<link rel="shortcut icon" th:href="@{/static/assets/images/favicon.ico}">
</head>
<body>
	<div layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<!--breadcrumbs start -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}"><i
										class="fa fa-home"></i> <span th:text="#{breadcrumbs.home}">Home</span></a></li>
								<li class="breadcrumb-item"><a
									th:href="@{/admin/role/list}"
									th:text="#{left_menu.nav.admin.role}">Role</a></li>
								<li class="breadcrumb-item active" aria-current="page"
									th:text="#{left_menu.nav.admin.role.edit}">Edition</li>
							</ol>
						</nav>
						<!--breadcrumbs end -->
					</div>
				</div>

				<section class="card">
					<header class="card-header"
						th:text="#{admin.role.edit.form.header}"> Edition </header>
					<div class="card-body">


						<form enctype="multipart/form-data" class="form-horizontal tasi-form"
							th:action="@{/admin/roles/save}" method="post" th:object="${role}">

							<input type="hidden" class="form-control" th:field="*{id}">

							<div class="form-group row">
								<label class="col-2 col-form-label">Nom</label>
								<div class="col-10">
									<input type="text" class="form-control" th:field="*{name}"
										value="Some text value...">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Description</label>
								<div class="col-10">
									<textarea class="form-control" th:field="*{description}"
										rows="8"></textarea>
								</div>
							</div>
<!-- 							<div class="form-group row"> -->
<!-- 								<label class="col-2 col-form-label">Privileges</label> -->
<!-- 								<div class="col-10"> -->
<!-- 									<select multiple th:field="*{privileges}" class="form-control" -->
<!-- 										id="privilege_multiselect"> -->
<!-- 										<option th:each="privilege : ${role.privileges}" -->
<!-- 											th:value="${privilege.id}" th:text="#{${privilege.name}}">Privilege</option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 							</div> -->


							<div class="form-group row">
								<label class="col-2 col-form-label">Privileges</label>
								<div class="col-10">
									<select multiple th:field="*{privileges}" class="form-control"
										id="privileges">
										<option th:each="privilege : ${allPrivileges}"
											th:value="${{privilege}}" th:text="#{${privilege.name}}">Privilege</option>
									</select>
								</div>
							</div>


							<div class="col-auto">
								<button type="button" class="btn btn-outline-secondary mb-2"
									onclick="window.location.href = '/';"
									th:text="#{admin.role.edit.form.button.cancel}">Annuler</button>
								<button type="submit"
									class="btn btn-outline-primary mb-2 float-right"
									th:text="#{admin.role.edit.form.button.save}">Sauvegarder</button>
							</div>
						</form>

					</div>
				</section>
			</section>
		</section>
	</div>
	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->
	<div layout:fragment="scripts">
		<script>
			$(document).ready(function() {

			    $('#privileges').multiSelect({
			        selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
			        selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
			        afterInit: function (ms) {
			            var that = this,
			                $selectableSearch = that.$selectableUl.prev(),
			                $selectionSearch = that.$selectionUl.prev(),
			                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
			                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

			            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
			                .on('keydown', function (e) {
			                    if (e.which === 40) {
			                        that.$selectableUl.focus();
			                        return false;
			                    }
			                });

			            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
			                .on('keydown', function (e) {
			                    if (e.which == 40) {
			                        that.$selectionUl.focus();
			                        return false;
			                    }
			                });
			        },
			        afterSelect: function () {
			            this.qs1.cache();
			            this.qs2.cache();
			        },
			        afterDeselect: function () {
			            this.qs1.cache();
			            this.qs2.cache();
			        }
			    });
			    
			});
		</script>
	</div>
</body>

</html>
