<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
	layout:decorate="~{layout.html}">
<head>
<title th:text="#{admin.roles.list.header}"></title>
<link rel="shortcut icon" th:href="@{/static/assets/images/favicon.ico}">
</head>
<body>
	<div layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<section id="main-content">
			<section class="wrapper">

				<div class="row">
					<div class="col-lg-12">
						<!--breadcrumbs start -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i
										class="fa fa-home"></i> <span th:text="#{breadcrumbs.home}">Home</span></a></li>
								<li class="breadcrumb-item"><a
									th:href="@{/admin/role/list}"
									th:text="#{left_menu.nav.administration}">Administration</a></li>
								<li class="breadcrumb-item"><a
									th:href="@{/admin/role/list}"
									th:text="#{left_menu.nav.administration.roles}">Roles</a></li>
								<li class="breadcrumb-item active" aria-current="page"
									th:text="#{left_menu.nav.administration.roles.list}">Liste</li>
							</ol>
						</nav>
						<!--breadcrumbs end -->
					</div>
				</div>

				<section class="card">
					<header class="card-header" th:text="#{admin.roles.list.header}">
						Liste des roles </header>
					<div class="card-body">
						<button type="button" class="btn btn-outline-secondary mb-2"
							onclick="window.location.href = '/admin/roles/add';"
							th:text="#{admin.roles.table.add}">Add</button>
							
						<table class="display table table-bordered table-striped"
							id="dynamic-table">
							<thead>
								<tr>
									<th th:text="#{admin.roles.table.name}">name</th>
									<th th:text="#{admin.roles.table.description}">description</th>
									<th th:text="#{admin.roles.table.action}">Action</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="role : ${allRoles}">
									<td th:text="${role.name}"></td>
									<td th:text="${role.description}"></td>
									<td><a th:href="@{'/admin/roles/edit/' + ${role.id}}"><i
											class="fa fa-edit"></i></a> <a
										th:href="@{'/admin/roles/delete/' + ${role.id}}"
										th:onclick="return confirm([[#{admin.roles.list.dialog.delete.confirm}]])"><i
											class="fa fa-trash-o"></i></a></td>
								</tr>
							</tbody>
<!-- 							<tfoot> -->
<!-- 								<tr> -->
<!-- 									<th th:text="#{admin.roles.table.name}">name</th> -->
<!-- 									<th th:text="#{admin.roles.table.description}">description</th> -->
<!-- 									<th th:text="#{admin.roles.table.action}">Action</th> -->
<!-- 								</tr> -->
<!-- 							</tfoot> -->
						</table>

					</div>
				</section>
			</section>
		</section>

		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->

	</div>
	<div layout:fragment="scripts">
		<script>
			$(document).ready(function() {

				$('#dynamic-table').dataTable({
					"aaSorting" : [ [ 0, "desc" ] ]
				});
			});
		</script>
		<script th:if="${flash}" th:inline="javascript">
			$(document).ready(function() {
				var shortCutFunction = /*[[${flash.type}]]*/ '';
				var msg = /*[[#{${flash.code}(${flash.arg1}, ${flash.arg2})}]]*/ 'message';
				
				var title = /*[[${flash.type}]]*/ 'Success';
				var $showDuration = true;
				var $hideDuration = false;
				var $timeOut = 5000;
				var $extendedTimeOut = 5000;
				var $showEasing = true;
				var $hideEasing = false;
				var $showMethod = true;
				var $hideMethod = false;

				toastr.options = {
					closeButton : true,
					debug : true,
					//progressBar : true,
					positionClass : 'toast-top-right',
					preventDuplicates : true,
					onclick : null
				};

				var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
			});
		</script>
	</div>

</body>

</html>
