<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
	layout:decorate="~{layout.html}">
<head>
<title th:text="#{channels.list.title}"></title>
<link rel="shortcut icon" th:href="@{/static/assets/images/favicon.ico}">
</head>
<body>
	<div layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<!--breadcrumbs start -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/home"><i
										class="fa fa-home"></i> <span th:text="#{breadcrumbs.home}">Home</span></a></li>
								<li class="breadcrumb-item"><a th:href="@{/channels}"
									th:text="#{breadcrumbs.channels}">Channels</a></li>
								<li class="breadcrumb-item active" aria-current="page"
									th:text="#{breadcrumbs.channels.list}">List</li>
							</ol>
						</nav>
						<!--breadcrumbs end -->
					</div>
				</div>

				<section class="card">
					<header class="card-header" th:text="#{channels.list.header}">
						B/W List </header>
					<div class="card-body">
						<button type="button" class="btn btn-outline-secondary mb-2"
							onclick="window.location.href = '/channels/add';"
							th:text="#{channels.table.add}">Add</button>
						<table class="display table table-bordered table-striped"
							id="dynamic-table">
							<thead  class="table-dark">
								<tr>
									<th th:text="#{channels.table.NAME}">NAME</th>
									<th th:text="#{channels.table.ADDRESS}">ADDRESS</th>
									<th th:text="#{channels.table.TYPE}">TYPE</th>
									<th th:text="#{channels.table.CREATE_TIMESTAMP}">CREATE_TIMESTAMP</th>
									<th th:text="#{channels.table.UPDATE_TIMESTAMP}">UPDATE_TIMESTAMP</th>
									<th th:text="#{channels.table.edit}">Edit</th>
									<th th:text="#{channels.table.action}">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="channel : ${allChannels}">
									<td th:text="${channel.name}"></td>
									<td th:text="${channel.address}"></td>
									<td th:text="${channel.type}"></td>
									<td th:text="${#dates.format(channel.createTimestamp,'yyyy-MM-dd hh:mm-ss')}" ></td>
									<td th:text="${#dates.format(channel.updateTimestamp,'yyyy-MM-dd hh:mm-ss')}" ></td>
									<td><a th:href="@{'/channels/edit/' + ${channel.id}}"><i
											class="fa fa-edit"></i></a></td>
									<td><a
										th:href="@{'/channels/delete/' + ${channel.id}}"
										th:onclick="return confirm([[#{channels.table.dialog.delete.confirm}]])"><i
											class="fa fa-trash-o"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</section>
		</section>

		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->

	</div>
	<div layout:fragment="scripts">
		<script th:inline="javascript">
			$(document).ready(function() {

				$('#dynamic-table').dataTable({
					"oLanguage": {
					      "sUrl": /*[[@{'/static/assets/data-tables/lang/' + #{lang.name} +'.json'}]]*/ "http://weenko.com/lang.txt"
					 },
					"aaSorting" : [ [ 0, "asc" ], [ 1, "asc" ] ]
				});
			});
		</script>
	</div>

</body>

</html>
