<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
	layout:decorate="~{layout.html}">
<head>
<title  th:if="${entry.id}" th:text="#{bwentries.edit.title}"></title>
<title  th:if="!${entry.id}" th:text="#{bwentries.add.title}"></title>
<link rel="shortcut icon" th:href="@{/static/assets/images/favicon.ico}">
</head>
<body>
	<div layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<!--breadcrumbs start -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/home"><i
										class="fa fa-home"></i> <span th:text="#{breadcrumbs.home}">Home</span></a></li>
								<li class="breadcrumb-item"><a th:href="@{/bwentries}"
									th:text="#{breadcrumbs.bwentries}">B/W list</a></li>
								<li th:if="${entry.id}" class="breadcrumb-item active" aria-current="page"
									th:text="#{breadcrumbs.bwentries.edit}">Edit</li>
								<li th:if="!${entry.id}" class="breadcrumb-item active" aria-current="page"
									th:text="#{breadcrumbs.bwentries.add}">Add</li>
							</ol>
						</nav>
						<!--breadcrumbs end -->
					</div>
				</div>

				<section class="card">
					<header th:if="${entry.id}" class="card-header"
						th:text="#{bwentries.headers.edit}"> Edit </header>
						
					<header th:if="!${entry.id}" class="card-header"
						th:text="#{bwentries.headers.add}"> Add </header>
					<div class="card-body">


						<form enctype="multipart/form-data" class="form-horizontal tasi-form"
							th:action="@{/bwentries/save}" method="post" th:object="${entry}">

							<input type="hidden" class="form-control" th:field="*{id}">

							<div class="form-group row">
								<label class="col-2 col-form-label" th:text="#{bwentries.form.name}">NAME</label>
								<div class="col-10">
									<input type="text" class="form-control" th:field="*{name}"
										value="Some text value...">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-2 col-form-label" th:text="#{bwentries.form.extension}">ENTENSION</label>
								<div class="col-10">
									<input type="number" class="form-control" th:field="*{extension}"
										value="Some text value...">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label" th:text="#{bwentries.form.description}">DESCRIPTION</label>
								<div class="col-10">
									<textarea class="form-control" th:field="*{description}"
										rows="8"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-2 col-form-label"
									th:text="#{bwentries.form.subscriber}">Subscriber</label>
								<div class="col-10">
									<select th:field="*{subscriber}" class="form-control">
										<option th:each="subscriber : ${allSubscribers}"
											th:value="${subscriber.id}" th:text="${subscriber}"></option>
									</select>
								</div>
							</div>


							<div class="col-auto">
								<button type="button" class="btn btn-outline-secondary mb-2"
									onclick="window.location.href = '/bwentries';"
									th:text="#{bwentries.form.button.cancel}">Cancel</button>
								<button type="submit"
									class="btn btn-outline-primary mb-2 float-right"
									th:text="#{bwentries.form.button.save}">Save</button>
							</div>
						</form>

					</div>
				</section>
			</section>
		</section>
	</div>
	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->
</body>

</html>
